@model InventoryManagement.Services.DTOs.SalesDTO

@{
    ViewData["Title"] = "Create Sales";
}

<h1 class="text-primary">Add Sales</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSales">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SaleProduct">
                    @Html.DisplayName("Product Name")
                </label>
                <select asp-for="SaleProduct" asp-items="@ViewBag.ProductName" class="form-select" area-required="true">
                    <option disabled selected>Select Product</option>
                </select>
                <span asp-validation-for="SaleProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleQuantity" class="control-label">
                    @Html.DisplayName("Product Quantity")
                </label>
                <input asp-for="SaleQuantity" class="form-control" />
                <span asp-validation-for="SaleQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleDate" class="control-label">
                    @Html.DisplayName("Sales Date")
                </label>
                <input asp-for="SaleDate" class="form-control" />
                <span asp-validation-for="SaleDate" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="DisplaySales" asp-controller="Sales">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
